.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavender;
  }
  
  .content-box {
    border: 2px solid #ccc; /* Add a border with a 2px width and color #ccc */
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  