<!DOCTYPE html>
<mat-card>

    <mat-card-header>
        <mat-card-title>login !</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form>
            <mat-form-field>
                <input
                matInput
                [(ngModel)]="userData.username"
                placeholder="your username"
                type="text"
                name="username"
                required
                >
            </mat-form-field>
            <br>
            <mat-form-field>
                <input
                matInput
                [(ngModel)]="userData.password"
                placeholder="password"
                type="password"
                name="password"
                required
                >
            </mat-form-field>
            
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="loginUser()">
            login 
        </button>
    </mat-card-actions>
</mat-card>

