  <!DOCTYPE html>
  <mat-card class="dialog">

    <mat-card-header>
      <mat-card-title>
        <h2>{{ data.name}}</h2>
      </mat-card-title>
      <button
      class="close-button"
      mat-dialog-close
      color="primary"
    >
      close
    </button>
    </mat-card-header>
    <mat-dialog-content>     
      <p>
        <b>Bio: </b>{{ data.bio }}
        <br />
        <br />
        <b>Born: </b>{{ data.birthyear }}
        <br />
        <br />
        <b>Gender: </b>{{ data.gender }}
      </p>

    </mat-dialog-content>
  </mat-card>
