
<!DOCTYPE html>
<!-- menu for routing to user profile -->
<mat-toolbar color="primary" >    
        YOUR MOVIETEKA
          <a routerLink="profile" mat-stroked-button style="color: purple;">..see more of your profil</a>
          <a routerLink="welcome" mat-stroked-button>Logout</a>
</mat-toolbar>

<!-- ngFor is used to display all returned movies -->
<div style="display: flex;" class="container">
    <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto">
        <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
        </mat-card-header>
        <img  class="movie-img" src="{{movie.imagePath}}" alt="{{movie.title}}" />
        <mat-card-actions>
            <button
                mat-button
                (click)="openGenre(movie.genre.name, movie.genre.description)"
                color="primary"
            >
                Genre
            </button>
            <button
                mat-button
                (click)="openDirector(movie.director.name, movie.director.birthyear, movie.director.gender, movie.director.bio)"
                color="primary"
            >
                Director
            </button>
            <button
                mat-button
                (click)="openDescription(movie.title, movie.description)"
                color="primary"
            >
                Description
            </button>
             <!-- Add or remove favorite button with conditionally changing heart color -->
      <button mat-icon-button (click)="toggleFavorite(movie)">
        <mat-icon [style.color]="isFavorite(movie) ? 'purple' : 'grey'">favorite</mat-icon>
      </button>
        </mat-card-actions>
    </mat-card>
</div>
