<!DOCTYPE html>
<mat-card>

    <mat-card-header>
        <mat-card-title>sign up !</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form>
            <mat-form-field>
                <input
                matInput
                [(ngModel)]="userData.username"
                placeholder="your username"
                type="text"
                name="username"
                required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                [(ngModel)]="userData.password"
                placeholder="password"
                type="password"
                name="password"
                required
                >
            </mat-form-field>
            <mat-form-field>
                <input 
                matInput
                [(ngModel)]="userData.email"
                type="email"
                placeholder="your email"
                name="email"
                required
                >
            </mat-form-field>
            <mat-form-field>
                <input 
                matInput
                [(ngModel)]="userData.bday"
                placeholder="your birthday - if you want to share"
                name="bday"
                type="date"
                >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="registerUser()" class="btn-profile">
            sign up 
        </button>
    </mat-card-actions>
</mat-card>
