<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Movieteka</title>
</head>

<body>
  <div class="container">
    <h2>Welcome back to your personal Movieteka</h2>
    <form [formGroup]="valueForm" (ngSubmit)="onSubmit()">     
      <input type="text" id="value" name="value" formControlName="input">
      <input type="text" id="username" name="username" formControlName="username">

    </form>
  </div>
  <router-outlet></router-outlet>
</body>


</html>