<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Movieteka</title>
</head>

<body>
  <div class="container">
    <h2>Welcome to your personal Movieteka</h2>
      <button 
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        sign up !
      </button>
      <button 
        mat-raised-button 
        (click)="openUserLoginDialog()"
        color="primary">
        login !
      </button>
  </div>
  <router-outlet></router-outlet>
</body>


</html>