<div >
    <mat-card>
      <mat-card-header >
        <mat-card-title style="margin: 0 0 1.15em;"><h2>Hello {{ user.username }} !</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content class="user-profile-card-content">
        <form class="user-info">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input
              matInput
              [(ngModel)]="updatedUser.username"
              value="{{ updatedUser.username }}"
              type="text"
              name="username"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Update Password</mat-label>
            <input
              matInput
              [(ngModel)]="updatedUser.password"
              placeholder=""
              type="password"
              name="password"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              [(ngModel)]="updatedUser.email"
              type="email"
              value="{{ updatedUser.email }}"
              name="Email"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Birthday</mat-label>
            <input
              matInput
              [(ngModel)]="updatedUser.bday"
              type="date"
              value="{{ updatedUser.bday | date }}"
              name="bday"
            />
          </mat-form-field>
        </form>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="editUserData()" color="basic" class="left-btn">
          <mat-icon>edit</mat-icon>
          Update profile
        </button>
        <button mat-raised-button (click)="deleteUserData()" color="warn">
          <mat-icon>delete_forever</mat-icon>
          Delete account
        </button>
      </mat-card-actions>
    </mat-card>
      <br>
    <div class="header-favs">
      <h2>Favorite Movies</h2>
      <h4>unclick the heart  -- if you want to remove from your fav list</h4>
  
        <div style="display: flex;" class="container">

        <mat-card *ngFor="let movie of favorites" style="flex: 1 1 auto">
            <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
            </mat-card-header>
            <img  class="movie-img" src="{{movie.imagePath}}" alt="{{movie.title}}" />
            <mat-card-actions>
              <button mat-icon-button (click)="toggleFavorite(movie)">
                <mat-icon [style.color]="isFavorite(movie) ? 'purple' : 'grey'">favorite</mat-icon>
              </button>
            </mat-card-actions>
        </mat-card>
      </div>    
    </div>
  </div>
